{% extends 'partials/header.html' %}
{% block content %}

<div class='card mb-3'>
    <br>
    <h2 class="text-center">
        {{todo.title}}
    </h2>
    <h6 class="text-center">
        {{todo.todo_time}}
    </h4>
    <br>
    <div class='card-body'>
        <p class="lead">
            {{todo.text}}
        </p>
        <br>
        <br>
        <a href="/todos" class="btn btn-outline-primary btn-sm float-left">
            Go Back
        </a>
    </div>
</div>

{% endblock %}
<!-- {% include 'partials/footer.html' %} -->